    
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto|Varela+Round');
    
body {
    /* text-align: center; */
    color: #ffffff;
    font-family: 'Varela Round', 'Roboto', sans-serif;
    text-shadow: 1px 1px 0 black;

}

.main {
    position: relative;
}

#userBtn {
    margin-right: 50px;
}

#artistBtn {
    background: #9200bf;
    border: 2px solid black; 
    color: #ffffff;
}

nav {
    border-bottom: 2px solid black;
    background: #323438;
}
.navbar-brand {
    font-size: 36px;
    font-weight: bold;
}

#logo {
    color: #9200bf;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.leftContainer {
    height: 700px;
    position: absolute;
    /* bottom: px; */
    top: 0px;
    width: 250px;
    left: 0;
    /* right: 150px; */
    border-right: 2px solid black;

}

#timeFrame {
    width: 90%;
    margin: 0 5%;
    /* margin-right: 10px; */
}

.mapContainer {
    position: fixed;
    left: 250px;
    right: 250px;
    top: 81.5px;
    bottom: 50px;
    text-shadow: none;
}

.rightMain {
    position: relative;
}

.rightContainer {
    position: absolute;
    height: 700px;

    top: 0px;
    /* bottom: 0px; */
    right: 0px;
    width: 250px;
    border-left: 2px solid black;
}

.main-labels {
    margin-left: 10px;
}

footer {
    background: #323438;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    border-top: 2px solid black;
}

.theme {
    background: #323438;

}

/* Modal Form Styling */

.modal-content {
    background: #323438;
}

.modal-header {
    border-bottom: 1px solid #9200bf;
}

.modal-footer {
    border-top: 1px solid #9200bf;
}

button.close {
    color: #9200bf;
    text-shadow: 0 1px 0 black;
}

button.close:hover {
    color: white;
}

